body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    background-color: #F3F5F6;
    color: #0F0F0F;
}

button {
    background-color: #1C90F3;
    border: 5px solid #1C90F3;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    font-size: 14px;
}

textarea {
    background-color: inherit;
    border: 0.1px solid #1C90F3;
    color: inherit;
    padding: 5px;
    resize: vertical;
}
